<%-include('cabecalho.ejs')%>

<form method="post">
    <div class="form-floating">
        <input class="m-1 form-control" placeholder="Pesquisar" type="search" name="pesquisar" id="search">
        <label class="form-label" for="search">Pesquisar</label>
    </div>
    <div>
        <input class="btn btn-outline-primary" type="submit" value="Pesquisar">
    </div>
    </form>
<table class="m-1 table table-hover align-middle">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Foto</th>
        <th>Editar</th>
        <th>Deletar</th>
    </tr>
    <% Usuarios.forEach(function (usuario){%>
        <tr>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><img class="img-thumbnail" src="/<%=usuario.foto%>" width="200px" alt="Foto de perfil"></td>
            <td>
                <a class="btn btn-outline-primary" href="/editarusuario/<%=usuario.id%>">Editar</a>
            </td>
            <td>
                <a class="btn btn-outline-primary" href="/deletarusuario/<%=usuario.id%>">Deletar</a>
            </td>
        </tr>
    <%})%>
</table>
<%-include('rodape.ejs')%>